<title>My application</title>
  <h1>Welcome to My Array Control Program!</h1>
    <br/> First box for first integer array list, Second box for second integer array list </p>
    <br/> Third box for number of elements to look at in the first array,Fourth box for number of elements to look at in the second array </p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
